<p id="notice"><%= notice %></p>

<h1>Listing Purchase Order Items</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchase_order_items.each do |purchase_order_item| %>
      <tr>
        <td><%= link_to 'Show', purchase_order_item %></td>
        <td><%= link_to 'Edit', edit_purchase_order_item_path(purchase_order_item) %></td>
        <td><%= link_to 'Destroy', purchase_order_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchase order item', new_purchase_order_item_path %>
