<p id="notice"><%= notice %></p>

<h1>Listing Valuation Items</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @valuation_items.each do |valuation_item| %>
      <tr>
        <td><%= link_to 'Show', valuation_item %></td>
        <td><%= link_to 'Edit', edit_valuation_item_path(valuation_item) %></td>
        <td><%= link_to 'Destroy', valuation_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Valuation item', new_valuation_item_path %>
