<% if notice %>
<div class="alert alert-success alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    <strong><%= notice %></strong>
</div>
<% end %>

<h1 class="page-header"><%= t('purchase_orders.title') %> / <%= @purchase_order.reference %></h1>

  <div class="form-group">
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Exportar <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><%= link_to t('actions.pdf_export'), purchase_order_path(@purchase_order, :format => 'pdf'), { :class => '', :id => 'new-item', :target => '_blank' } %></li>
        <li><%= link_to t('actions.excel_export'), purchase_order_path(@purchase_order, :format => 'pdf'), { :class => '', :id => 'new-item' } %></li>
      </ul>
    </div> 
    <%= link_to t('valuations.new'), new_purchase_order_valuation_path(@purchase_order), { :class => 'btn btn-primary' } %>
    <%#= link_to t('actions.modify_order'), purchase_order_path(@purchase_order, :format => 'pdf'), { :class => 'btn btn-default', :id => 'new-item' } %>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= t('customers.title').singularize %></h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
          <%= @customer.name %>
        </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= t('suppliers.title').singularize.chop %></h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
          <%= @supplier.name %>
        </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= t('works.title').singularize %></h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
          <%= @work.name %>
        </div>
    </div>
  </div> 

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= t('fields.date') %></h3>
    </div>
    <div class="panel-body">
      <div class="form-group form-inline">
        <%= t('fields.issue_date')%>: <%= @purchase_order.issue_date %>
      </div>
      <div class="form-group form-inline">
        <%= t('fields.begin_date')%>: <%= @purchase_order.begin_date %>
      </div>
      <div class="form-group form-inline">
        <%= t('fields.due_date')%>: <%= @purchase_order.due_date %>
      </div>            
    </div>
  </div>   

  <h3 class="page-header"><%= t('.items') %></h3>

  <table class="table table-striped" id="items-table">
  <thead>
    <td>Item #</td>
    <td width="45%">Description</td>
    <td>Unidad</td>
    <td>Cantidad</td>
    <td>Precio Unitario</td>
    <td>Total</td>
  </thead>
  <tbody>
    <% total = total_price = 0  %>
    <% @purchase_order_items.each_with_index do |item, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= item.description %></td>
          <td><%= item.unit %></td>
          <td><%= item.quantity %></td>
          <td><%= number_to_currency(item.price, unit: '', separator: ",", delimiter: ".") %></td>
          <% if !item.quantity.nil? && !item.price.nil? %>
          <% total += item.price * item.quantity %>
          <% total_price += item.price %>
          <td><%= number_to_currency(item.price * item.quantity, unit: '', separator: ",", delimiter: ".") %></td>
          <% else %>
          <td><%= 0.0 %></td>
          <% end %>
        </tr>
    <% end %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><strong><%= number_to_currency(total, unit: '', separator: ",", delimiter: ".") %></strong></td>
        </tr>    
  </tbody>
  </table>

<%= link_to t('actions.edit'), edit_purchase_order_path(@purchase_order) %> |
<%= link_to t('actions.back'), purchase_orders_path %>
