<%= form_for(@setting) do |f| %>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% @setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label t('fields.iva') %><br>
    <%= f.text_field :iva, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label t('fields.islr') %><br>
    <%= f.text_field :islr, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label t('fields.rl') %><br>
    <%= f.text_field :rl, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label t('fields.rfc') %><br>
    <%= f.text_field :rfc, class: 'form-control' %>
  </div>     
  <div class="form-group">
    <%= f.submit t('actions.save'), :class => 'btn btn-primary' %>
  </div>
<% end %>
