<div class="row">
  <div class="col-xs-10 col-md-12">

<%= form_for([@purchase_order, @valuation]) do |f| %>
  <% if @valuation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@valuation.errors.count, "error") %> prohibited this valuation from being saved:</h2>

      <ul>
      <% @valuation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <!-- TODO, using rails methods... -->
  <%= f.hidden_field :purchase_order_id, value: @purchase_order.id, class: 'form-control' %>
  
  <div class="form-group">
    <%= f.label t('fields.title') %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label t('fields.description') %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <h3 class="page-header"><%= t('.items') %></h3>

  <table class="table table-striped" id="items-table">
  <thead>
    <td colspan="4">PRESUPUESTO</td>
    <td colspan="2">EJECUTADA EN EL PERIODO</td>
    <td colspan="2">EJECUTADA A LA FECHA</td>
    <td colspan="1">PORCENTAJE</td>       
  </thead>
  <thead>
    <td><strong>Item #</strong></td>
    <td width="15%"><strong>Descripción</strong></td>
    <td><strong>Cantidad</strong></td>
    <td><strong>Presupuesto</strong></td>
    <td width="15%"><strong>Cant. Ejecutada</strong></td>
    <td><strong>Monto Bs.</strong></td>
    <td><strong>Cant. Ejecutada</strong></td>
    <td><strong>Total Bs.</strong></td>
    <td><strong>%</strong></td>        
  </thead>
    <% @purchase_order_items.each_with_index do |purchase_order_item, index| %>
      <tr>
        <td width="7%"><%= index + 1 %></td>
        <td width="20%"><%= purchase_order_item.description %></td>
        <td><%= number_to_currency(purchase_order_item.quantity, unit: '', separator: ",", delimiter: ".") %></td>
        <td id="oc-<%= index %>"><%= number_to_currency(purchase_order_item.quantity * purchase_order_item.price, unit: '', separator: ",", delimiter: ".") %></td>
        
        <% if action_name == 'new' %>
        <td><input data-index="<%= index %>" name="valuation[valuation_items[<%= purchase_order_item.id %>]]" value="" class="form-control calculate" /></td>
        <td><%= number_to_currency(0, unit: '', separator: ",", delimiter: ".") %></td>        
        <% else %>
        <td><input data-index="<%= index %>" name="valuation[valuation_items[<%= purchase_order_item.id %>]]" value="<%= purchase_order_item.valuation_items.where(valuation_id: @valuation.id).first.value %>" class="form-control calculate" /></td>
        <td><%= number_to_currency((purchase_order_item.valuation_items.where(valuation_id: @valuation.id).first.value * purchase_order_item.price), unit: '', separator: ",", delimiter: ".") %></td>        
        <% end %>
      
        <% if action_name == 'new' %>
        <td id="acb-<%= index %>"><%= number_to_currency(purchase_order_item.valuation_items.sum(:value), unit: '', separator: ",", delimiter: ".") %></td>
        <td><%= number_to_currency((purchase_order_item.valuation_items.sum(:value)) * purchase_order_item.price, unit: '', separator: ",", delimiter: ".") %></td>
        <% else %>
        <td id="acb-<%= index %>"><%= number_to_currency(purchase_order_item.valuation_items.includes(:valuation).where('reference <= '+@valuation.reference.to_s).sum(:value), unit: '', separator: ",", delimiter: ".") %></td>
        <td><%= number_to_currency((purchase_order_item.valuation_items.includes(:valuation).where('reference <= '+@valuation.reference.to_s).sum(:value)) * purchase_order_item.price, unit: '', separator: ",", delimiter: ".") %></td>
        <% end %>
    
        <% if action_name == 'new' %>
        <td id="acc-<%= index %>"><%= number_to_currency((purchase_order_item.valuation_items.sum(:value)) * 100 / (purchase_order_item.quantity), unit: '', separator: ",", delimiter: ".") %>%</td>
        <% else %>
        <td id="acc-<%= index %>"><%= number_to_currency(purchase_order_item.valuation_items.where(valuation_id: @valuation.id).first.value * 100 / (purchase_order_item.quantity), unit: '', separator: ",", delimiter: ".") %>%</td>
        <% end %>

      </tr>
    <% end -%>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><strong><%= number_to_currency(@purchase_order.purchase_order_items.sum('quantity * price'), unit: '', separator: ",", delimiter: ".") %></strong></td>
        <td><strong><%= number_to_currency(@valuation.valuation_items.sum(:value), unit: '', separator: ",", delimiter: ".") %></td>
        <td><strong><%= number_to_currency((@valuation.valuation_items.sum(:value) * 100) / @purchase_order.purchase_order_items.sum('quantity * price'), unit: '', separator: ",", delimiter: ".") %></strong></td>
        <td><strong><%= number_to_currency(@acumulated_before, unit: '', separator: ",", delimiter: ".") %></strong></td>
        <td><strong><%= number_to_currency(@acumulated_before * 100 / @purchase_order.purchase_order_items.sum('quantity * price'), unit: '', separator: ",", delimiter: ".") %></strong></td>
        <td><strong><%= number_to_currency(@acumulated_before + @valuation.valuation_items.sum(:value), unit: '', separator: ",", delimiter: ".") %></strong></td>
      </tr>    
  </table>

  <div class="form-group">
    <%= f.submit t('actions.save'), :class => 'btn btn-primary' %>
  </div>
  <hr>
<% end %>

  </div>
  
  <div class="col-xs-8 col-md-6"></div>

</div>
<%= javascript_tag do %>
  window.rest_value = <%= @rest_value || 0 %>;
<% end %>
<script src="/assets/valuations.coffee"></script>