<h1 class="page-header"><%= t('valuations.sing_title') %> <%= @valuation.reference %> / <%= @purchase_order.reference %></h1>

<%= render 'form' %>

<%= link_to t('actions.show'), @valuation %> |
<% if @purchase_order.parent.nil? %>
	<%= link_to t('actions.back'), purchase_order_valuations_path(@purchase_order) %>
<% else %>
	<%= link_to t('actions.back'), purchase_order_valuations_path(@purchase_order.parent) %>
<% end %>