<h1 class="page-header"><%= t('valuations.sing_title') %> <%= @valuation.reference %> / <%= @purchase_order.reference %></h1>

<%= render 'form' %>

<%= link_to 'Show', @valuation %> |
<%= link_to 'Back', valuations_path %>
