<% if notice %><p id="notice"><%= notice %></p><% end %>

<h1 class="page-header"><%= t('valuations.title') %></h1>
<div id="toolbar">
    <%= link_to t('valuations.new'), new_valuation_path, :class => 'btn btn-primary' %>
</div>
<table data-toggle="table"
       data-classes="table table-hover table-striped"
       data-sort-name="date_received"
       data-sort-order="desc"
       data-url="/valuations"
       data-pagination="true"
       data-search="true"
       data-height="500"
       data-toolbar="#toolbar">
    <thead>
    <tr>
        <th data-field="id" data-sortable="true"><%= t('fields.id') %></th>
        <th data-field="name" data-sortable="true"><%= t('fields.name') %></th>
        <th data-field="email" data-sortable="true"><%= t('fields.email') %></th>
        <th data-field="id" data-formatter="actionsFormatter"><%= t('actions.title') %></th>
    </tr>
    </thead>
</table>
<script>
function actionsFormatter(value) {
  var actions = '';
  actions += '<a style="padding-right:12px;" href="/valuations/' + value + '"><i class="glyphicon glyphicon-eye-open"></i></a>';
  actions += '<a style="padding-right:12px;" href="/valuations/' + value + '/edit"><i class="glyphicon glyphicon-pencil"></i></a>';
  actions += '<a style="padding-right:12px;" href="/valuations/' + value + '"><i class="glyphicon glyphicon-trash"></i></a>';
  return actions;
}
</script>