<% if notice %><p id="notice"><%= notice %></p><% end %>

<h1 class="page-header"><%= t('valuations.title') %> / OC <%= @purchase_order.reference if params[:purchase_order_id] %></h1>
<div id="toolbar">
    <%= link_to t('valuations.new'), new_purchase_order_valuation_path, :class => 'btn btn-primary' if params[:purchase_order_id] %>
</div>
<table data-toggle="table"
       data-classes="table table-hover table-striped"
       data-sort-name="date_received"
       data-sort-order="desc"
       data-url="<%= @data_url %>"
       data-pagination="true"
       data-search="true"
       data-height="500"
       data-flat="true"
       data-toolbar="#toolbar">
    <thead>
    <tr>
        <th data-field="title" data-sortable="true"><%= t('fields.title') %></th>
        <th data-field="purchase_order.reference" data-sortable="true"><%= t('fields.order_number') %></th>
        <th data-field="value" data-sortable="true"><%= t('fields.value') %></th>
        <th data-field="id" data-formatter="actionsFormatter"><%= t('actions.title') %></th>
    </tr>
    </thead>
</table>
<script>
function actionsFormatter(value) {
  var actions = '';
  actions += '<a style="padding-right:12px;" href="/valuations/' + value + '"><i class="glyphicon glyphicon-eye-open"></i></a>';
  actions += '<a style="padding-right:12px;" href="/valuations/' + value + '/edit"><i class="glyphicon glyphicon-pencil"></i></a>';
  actions += '<a style="padding-right:12px;" href="/valuations/' + value + '"><i class="glyphicon glyphicon-trash"></i></a>';
  return actions;
}
</script>