
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>IPC Gerencia | Gestión de Contratos</title>
    <%= csrf_meta_tags %>
    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap-yeti.min.css" rel="stylesheet">
    <link href="/assets/bootstrap-table.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/assets/application.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/assets/application.js"></script>   

  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">IPC Gerencia | Gestión de Contratos</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= current_user.email %></a></li>
            <li><a href="<%= messages_path %>"><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> <%= t('messages.title') %></a></li>            
            <li><a href="<%= destroy_user_session_path %>"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> <%= t('users.logout') %></a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li <% if controller_name == 'welcome' %>class="active"<% end %>><a href="/"><%= t('dashboard.title') %></a></li>
            <li <% if controller_name == 'customers' %>class="active"<% end %>><a href="/customers"><%= t('customers.title') %></a></li>            
            <li <% if controller_name == 'works' %>class="active"<% end %>><a href="/works"><%= t('works.title') %></a></li>
            <li <% if controller_name == 'suppliers' %>class="active"<% end %>><a href="/suppliers"><%= t('suppliers.title') %></a></li>
            <li <% if controller_name == 'agents' %>class="active"<% end %>><a href="/agents"><%= t('agents.title') %></a></li> 
            <li <% if controller_name == 'purchase_orders' %>class="active"<% end %>><a href="/purchase_orders"><%= t('purchase_orders.title') %></a></li>
            <li <% if controller_name == 'valuations' %>class="active"<% end %>><a href="/valuations"><%= t('valuations.title') %></a></li>
            <li <% if controller_name == 'payment_orders' %>class="active"<% end %>><a href="/payment_orders"><%= t('payment_orders.title') %></a></li>                                                
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/users"><%= t('users.title') %></a></li>
            <li><a href="#"><%= t('actions.settings') %></a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <%= yield %>
        </div>
      </div>
    </div>

    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/bootstrap-table.min.js"></script>
    <script src="/assets/flatJSON/bootstrap-table-flatJSON.min.js"></script>
    <script src="/assets/bootstrap-table-es-CR.min.js"></script>    
  </body>
</html>
